* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #e4ecf7;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.logo {
  color: #1c6fdb;
  font-size: 50px;
  margin-bottom: 10px;
}

.tagline {
  color: #1f6bdd;
  font-size: 16px;
  margin-bottom: 20px;
}

h1{
    color: #1f6bdd;
}

.login-form input {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}

.login-form button {
  width: 100%;
  padding: 14px;
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #166fe5;
}

.forgot-link {
  display: block;
  margin: 12px 0;
  color: #1877f2;
  text-decoration: none;
  font-size: 14px;
}

.forgot-link:hover {
  text-decoration: underline;
}

.divider {
  border-bottom: 1px solid #ddd;
  margin: 15px 0;
}

.create-btn {
  background-color: #42b72a;
  font-size: 17px;
  font-weight: bold;
  padding: 14px;
  border-radius: 6px;
  color: rgb(33, 228, 15);
  border: none;
  cursor: pointer;
  width: 100%;
}

.create-btn:hover {
  background-color: #36a420;
  
}

.create-page {
  margin-top: 20px;
  font-size: 14px;
  color: #1c1e21;
}

.create-btn{
    background-color: #36a420;
}   